<div class="row bg-color-white color-black" style="padding-top:30px;">

	<div class="medium-6 large-6 column">
		<h2 style="padding-left:25%;padding-top:10%;font-family:Didot;color:#000000;font-style:italic">Are you new?</h2>
		<span style="padding-left:30%;font-family:Didot;color:#000000;font-style:italic;display:inline-block;font-size:20px">
			Join us today to<br/>
			enjoy the <em style="color:#FF7BAC">LAUNCH OFFER</em>
		</span>
	</div>
  
	<div class="medium-6 large-6 column end" style="padding-left:10%;padding-right:10%">
	
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  
		  <div><%= f.label( :email, 'Email' + show_non_blank( get_errors(resource.errors.messages[:email], " "), " - ", " " ), {class:"font-century-gothic color-turquoise"})  %>
		  <%= f.email_field :email, {autofocus: true, placeholder:"email@address.com", class:"height-small"} %></div>

			<div><%= f.label( :first_name, 'First Name' + show_non_blank( get_errors(resource.errors.messages[:first_name], " "), " - ", "" ), {class:"font-century-gothic color-turquoise"})  %>
		  <%= f.text_field :first_name, {autofocus: true, placeholder:"Enter your first name", class:"height-small"} %></div>
		  
		  <div><%= f.label( :password, 'Password' + show_non_blank( get_errors(resource.errors.messages[:password], " "), " - ", "" ), {class:"font-century-gothic color-turquoise"})  %>
			<%= f.password_field :password, {autocomplete: "off", placeholder:"Use at least 8 characters.", class:"height-small"}%></div>

		  <div><%= f.label( :password_confirmation, 'Confirm Password' + show_non_blank( get_errors(resource.errors.messages[:password_confirmation], " "), " - ", "" ), {class:"font-century-gothic color-turquoise"})  %>
			<%= f.password_field :password_confirmation, {autocomplete: "off", placeholder:"Re-enter password.", class:"height-small"} %></div>

			<%#= devise_error_messages! %>
			
		  <div>
        <%= f.submit "CREATE ACCOUNT", {class:"button expand font-century-gothic bold italic color-black bg-color-turquoise letter-space"} %>
        <%#= render "devise/shared/links" %>
		  </div>
      
      
      
		<% end %>
	
	</div>
</div>





	