<div class="row no-max-width bg-color-black-opaque-10" style="padding-top:10%;padding-bottom:5rem">
	<div class="medium-5 large-4 large-offset-1 column">
		<center>
			<h2 style="font-family:Didot;color:#FFFFFF;font-style:italic">Not registered?</h2>
			
			<%= link_to(new_user_registration_path, html_options = {}) do %>
			    <button type="button" class="font-century-gothic bold italic color-black bg-color-white letter-space" style="margin-top:5%">CREATE ACCOUNT</button>
			<% end %>

		</center>
	</div>
	<div class="medium-7 large-5 column end" style="padding-left:10%;padding-right:10%">
	
		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		  <div><%= f.label :email, {class:"font-century-gothic color-white"} %>
		  <%= f.email_field :email, {autofocus: true, placeholder:"email@address.com", class:"height-small"} %></div>

		  <div><%= f.label :password, {class:"font-century-gothic color-white"} %>
			<%= f.password_field :password, {autocomplete: "off", class:"height-small"} %></div>

		  <% if devise_mapping.rememberable? -%>
			<div><%= f.check_box :remember_me%> <%= f.label :remember_me, {class:"font-century-gothic color-white"} %></div>
		  <% end -%>
		  <div style="padding-top:3rem">
			<center>
				<%= f.submit "LOGIN", {class:"button font-century-gothic bold italic color-black bg-color-white letter-space"} %>
			</center>
		  </div>
		<% end %>

	</div>
</div>


<%= render "devise/shared/links" %>
