<p id="notice"><%= notice %></p>

<p>
  
  <%= link_to 'Home', store_path  %> &nbsp; / &nbsp; <%= link_to @category.name, category_link(@category.name) %></br>


  <% @category.products.each do |product| %>
  <%= product.title %> 
   <%= product.price %> kr</br>
  <% end %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
