
  <div id="notice">
    <%= notice %>
  </div>

  <div class="font-calibri" style="padding:30px">
  <%= link_to 'Home', store_path  %> &nbsp; / &nbsp; <%= link_to @category.name, category_link(@category.name) %></br>
  </div>

  <% @category.products.each do |product| %>
   
    <a href="<%= url_for(product) %>">
    
      <div style="display:inline-block; width:236px">
        <%= image_tag(product.image_url, {style:"height:292px; height:auto;"}) %>

        <p class="text-center bold italic" style="font-size:15px;margin-bottom:0px;"><%= product.title %></p>
        <p class="font-century-gothic text-center color-black"  style="font-size:15px"><%= number_to_currency(product.price, locale: :en, unit: "kr ", separator: ",") %></p>
      </div>
      
    </a>
   
  <% end %>


  <%#= link_to 'Edit', edit_category_path(@category) %>
  <%#= link_to 'Back', categories_path %>
