
  <div class="font-calibri" style="padding:30px">
    <%= link_to 'Home', store_path  %> &nbsp; / &nbsp; <%= link_to @category.name, category_link(@category.name) %> &nbsp; / &nbsp; <%= @product.title %>
  </div>

  <div class="row no-max-width" style="padding:2%">
  
    <div class="large-5 column" style="padding:2%">
		<center>
			
				<%=link_to image_tag(@product.image_url), @product %>
			
		</center>
	</div>
	
	<div class="large-7 column" style="padding:2%">
		
		<div class="row">
			<div class="medium-8 column" style="padding:1%">
				<span class="font-century-schoolbook" style="font-style:italic;font-weight:800;font-size:2rem"><%= @product.title %></span>
        
				<div class="font-century-gothic" style="padding-top:20px;">
        
          <p class="font-century-gothic color-black"  style="font-size:24px"><%= number_to_currency(@product.price, locale: :en, unit: "kr ", separator: ".", precision: 0, format: "%n %u") %></p>

					<p style="margin-bottom:10px;"><%= @product.description %></p>
					
					<p style="margin-bottom:0;">Gold Plated 18K</p>
					<p>2.4cm * 1.5cm</p>
					<p>Product Code 238805</p>
					<p class="color-turquoise">In Stock</p>
					
				</div>

			</div>
			<div class="medium-4 column" style="padding:1%">

				<div class="row">
				
					<div class="small-12 column">
						<select style="margin-top:10px;margin-bottom:10px;">
              <option value="product-id-238805">Gold</option>
              <option value="product-id-236666">Silver</option>
            </select>
					</div>
					
				</div>
				<div class="row">
				
					<div class="small-6 column"><label for="input-quantity" class="right inline">Qty.</label></div>
					<div class="small-6 column end"><input id="quantity-box" type="text" name="input-quantity" placeholder="quantity" value="1" style="max-width:100px;text-align:center;"></div>
					
				</div>
				
				<div class="row">
				
					<div class="small-12 column center">
            <%= button_to( 'Add to Bag', line_items_path(product_id: @product), {remote: true, class:"button expand  bg-color-turquoise letter-space font-century-gothic", id:"button-bag"} )%>
						<!-- <button class="button expand  bg-color-turquoise letter-space font-century-gothic">Add to Bag</button>-->
					</div>

				</div>
				<div class="row">
				
					<div class="small-12 column center">
						<button class="button expand bg-color-turquoise letter-space font-century-gothic">Save to Box</button>
					</div>

				</div>
				
        <div class="row">
          <!-- Notification -->
          
					<div class="small-12 column center">
						<p id="notify-bag" style="display:none" class="color-turquoise font-century-gothic">Added 1 to bag.</p>
					</div>

				</div>
        
        
			</div>
		</div>
		
	</div>
	
  </div>
  
  <div class="line"></div>

  <div class="row no-max-width" style="margin-top:30px;margin-bottom:30px">
  
      <div class="medium-3 column" style="padding:3%">
      <%=link_to image_tag("spongebob.jpg"), store_path %>
      </div>
      <div class="medium-3 column" style="padding:3%">
      <%=link_to image_tag("spongebob.jpg"), store_path %>
      </div>
      <div class="medium-3 column" style="padding:3%">
      <%=link_to image_tag("spongebob.jpg"), store_path %>
      </div>
      <div class="medium-3 column" style="padding:3%">
      <%=link_to image_tag("spongebob.jpg"), store_path %>
      </div>
      
  </div>
  
  <div class="line"></div>
  
  <div class="font-century-gothic" style="margin-top:30px;margin-bottom:30px;text-align:center">
    <span style="padding:20px">instagram</span><span style="padding:20px">facebook</span><span style="padding:20px">twitter</span><span style="padding:20px">google plus</span>
  </div>
  
  <div class="line" style="margin-bottom:60px"></div>

<script>
$(document).ready(function(){
  $("#button-bag").click(function(){
    $("#notify-bag").show(true);
  });
});
</script>
  
  