  <% if notice %>
  <p id="notice"><%= notice%></p>
  <% end %>

  <div style="margin-top:10px">
    <div class="row collapse">
      <div class="medium-6 large-6 column">
      <%=link_to image_tag("index-1.jpg", {style:"max-height:400px;", class:"go-right"})%>
      </div>
      <div class="medium-6 large-6 column">
      <%=link_to image_tag("index-2.jpg", {style:"max-height:400px;", class:"go-left"})%>
      </div>
    </div>
  </div>

  <div style="margin-left:auto; margin-right: auto; width:100%">

    <!-- Displays products that belongs to the front page category -->

    <% cache ['store', Product.latest] do %>
      <% @frontpage.each do |product| %>
        <% cache ['entry', product] do %>
        
        <a href="<%= url_for(product) %>">
        
          <div style="display:inline-block; width:236px">
            <%= image_tag(product.image_url, {style:"height:292px; height:auto;"}) %>

            <p class="text-center bold italic" style="font-size:15px;margin-bottom:0px;"><%= product.title %></p>
            <p class="font-century-gothic text-center color-black"  style="font-size:15px"><%= number_to_currency(product.price, locale: :en, unit: "kr ", separator: ",") %></p>
          </div>
          
        </a>
          
         <% end %>
      <% end %>	  
    <% end %>

  </div>