<% if notice %>
<p id="notice"><%= notice%></p>
<% end %>

<div style="margin-top:10px">
  <div class="row collapse">
    <div class="medium-6 large-6 column">
    <%=link_to image_tag("index-1.jpg", {style:"max-height:400px;", class:"go-right"})%>
    </div>
    <div class="medium-6 large-6 column">
    <%=link_to image_tag("index-2.jpg", {style:"max-height:400px;", class:"go-left"})%>
    </div>
  </div>
</div>

<div style="margin-left:auto; margin-right: auto;">



<% cache ['store', Product.latest] do %>
	<% @products.each do |product| %>
		<% cache ['entry', product] do %>
    
		  <div style="display:inline-block; width:236px">
		   <%= link_to image_tag(product.image_url, {style:"height:292px; height:auto;"}), product %>
        
		    <p class="text-center bold italic" style="font-size:15px;margin-bottom:0px;"><%= link_to product.title, product, {class:"color-black font-century-gothic"} %></p>
		    <p class="font-century-gothic text-center color-black"  style="font-size:15px"><%= number_to_currency(product.price, locale: :en, unit: "DKK ", separator: ",") %></p>
        
		    <div>
		      <%#= sanitize(product.description) %>
		      <%#= button_to 'Add to Cart', line_items_path(product_id: product) %>
		    </div>
        
		  </div>
      
		 <% end %>
	<% end %>	  
<% end %>

</div>