
<!DOCTYPE html>
<html>
<head>

  <title>SmuSmy</title>
<%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  	
</head>

<body class="<%= controller.controller_name %>">

  <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span>
	
  <div class="row bg-color-grey no-max-width font-century-gothic padding-bottom-small padding-top-small responsive-hide">
	<div class="medium-6 large-6 columns">FREE SHIPPING ON ALL ORDERS ABOVE €75</div>


	<div class="medium-6 large-6 columns text-right">
		<% unless user_signed_in? %>
			<%= link_to 'REGISTER', new_user_registration_path %> /<%= link_to 'LOGIN', new_user_session_path %>
		<% else %>
			<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% end %>

  </div>
</div>

  <div class="row no-max-width padding-bottom-small padding-top-small responsive-hide">
	<div class="medium-4 large-3 column">
      <div style="padding-top:5rem;">
		<input type="text" name="input-subscribe" placeholder="Subscribe, enter e-mail address" class="font-size-10">
	  </div>
	</div>
	<div class="medium-4 large-4 large-offset-1 column" style="padding-top:0.8rem;">
		<center><%=link_to image_tag("logo.png", class: "logo"), store_path%></center>
	</div>
	<div class="medium-4 large-4 column text-right font-avnir-book-oblique" style="padding-top:6rem;font-size:14px;font-style:italic">Shopping Bag</div>
  </div>

  <div class="responsive-show bg-color-grey font-century-gothic text-center">
	<div class="padding-bottom-small padding-top-small font-size-10">FREE SHIPPING ON ALL ORDERS ABOVE 75</div>
	<div class="padding-bottom-small padding-top-small">
		<% unless user_signed_in? then %>
		<%= link_to 'REGISTER', new_user_registration_path %> /<%= link_to 'LOGIN', new_user_session_path %></div>
		<% else %>
		<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
		<% end %>
	</div>
  </div>
  
  <div class="responsive-show" style="margin-top:1rem">
	<div class="padding-top-small padding-bottom-small">
		<center><%=link_to image_tag("logo.png", class: "logo"), store_path%></center>
	</div>
	<div class="font-avnir-book-oblique padding-top-small padding-bottom-small" style="font-size:20px;font-style:italic">
		<center>
			Shopping Bag
		</center>
	</div>
  </div>
  
  <div class="row no-max-width bg-color-pink padding-bottom-small padding-top-small font-century-gothic">
	<div class="large-5 large-offset-1 column padding-bottom-small padding-top-small">
		<div class="row">
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>New&nbsp;Arrivals</center></div>
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>Earrings</center></div>
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>Bracelets</center></div>
		</div>
	</div>
	<div class="large-5 end column padding-bottom-small padding-top-small">
		<div class="row">
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>Necklaces</center></div>
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>Gifts</center></div>
			<div class="medium-4 column padding-bottom-small padding-top-small"><center>Sale</center></div>
		</div>	
	</div>
  </div>

 

<%= yield %>
  
  
  


</body>
</html>
