<!DOCTYPE html>
<html>

<head>

  <title>SmuSmy</title>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  	
</head>

<body class="<%= controller.controller_name %>">

  <!-- <span class="notice"><%= notice %></span>
  <span class="alert"><%= alert %></span> -->

  <div class="bg-color-black color-white font-century-gothic padding-bottom-small padding-top-small" style="height:2.2rem;">
  
    <div class="container">
      <div style="display:inline;float:left" class="hide-for-small-only">
        <label class="color-white" for="subscribe" style="padding-top:0.2rem">SUBSCRIBE</label>
      </div>
      <div style="display:inline;float:left" class="hide-for-small-only">
        <input id="subscribe" type="text" name="input-subscribe" placeholder="" class="round color-black" style="margin-left:1rem;height:1.2rem;margin-top:0.3rem;margin-bottom:0;width:16rem">
      </div>
      
      <div style="display:inline;float:right;margin-top:0.4rem" class="text-right color-white">
        <% unless user_signed_in? %>
          <%= link_to 'REGISTER', new_user_registration_path, {class:"color-white"} %> / <%= link_to 'LOGIN', new_user_session_path, {class:"color-white"} %>
        <% else %>
          <%= link_to 'Sign Out', destroy_user_session_path, {class:"color-white", method:delete}%>
        <% end %>
      </div>
    </div>
    
  </div>

	
  <div class="bg-color-orange color-white no-max-width font-century-gothic padding-bottom-small padding-top-small">
    <div class="container" style="font-size:14px">
      <span style="display:inline-block">FREE SHIPPING ON ALL ORDERS ABOVE 400kr.</span> <span style="margin-left:20px;margin-right:20px"> /// </span> <span style="display:inline-block">10% OFF YOUR FIRST ORDER, USE PROMO CODE: <b>SMUSMY10</b></span>
    </div>
  </div>
  
  <div class="container">
    <div style="margin-top:3rem;margin-bottom:1.5rem">
      <%=link_to image_tag("smusmy-logo-black.png", class: "logo"), store_path%>
    </div>
  </div>

  <div class="container">
    <div class="line bg-color-black"></div>
    
    <div style="padding-left: 20px; padding-bottom:10px; padding-top:10px;" class="bg-color-white font-century-gothic">
      
          <div class="main-bar"><%= link_to "New Arrivals", "/categories/1", {class:"color-black"}%></div>

          <div class="main-bar">Earrings</div>

          <div class="main-bar">Rings</div>
          
          <div class="main-bar">Bracelets</div>
        
          <div class="main-bar">Necklaces</div>

          <div class="main-bar">Hair</div>

          <div class="main-bar">Gifts</div>

          <div class="main-bar">Show All</div>
          
          <%#= link_to('Shopping Bag', cart_path((session[:cart_id])),{class:"main-bar color-orange italic font-avnir-book-oblique font-size-18"} ) %>
          
          <div class="main-bar">
            <a href="<%= cart_path((session[:cart_id])) %>">
              <span class="color-orange italic font-avnir-book-oblique font-size-18">Shopping Bag</span>
              <div style="display:inline-block;width:50px;height:40px;background-image:url('/assets/bag.jpg');background-size: 100% 100%;background-repeat: no-repeat;vertical-align:middle">
              <%#= link_to( image_tag("bag.jpg", {style:"height: 40px"}), cart_path((session[:cart_id])) ) %>
                <p class="color-orange" style="padding-top:13px;padding-right:2px;text-align:center;font-size:12px">100</p>
              </div>
            </a>
          </div>
    </div>
    
    <div class="line bg-color-black"></div>
  </div>


  
  <div class="container fill-height">
    <%= yield %>
  </div>

  <div class="bg-color-turquoise color-white" style="padding-top:4rem;padding-bottom:1rem">

    <%=link_to image_tag("smusmy-logo-white.png", {style:"margin-left:auto;margin-right:auto;display:block"}), store_path%>
      
    <div style="text-align:center;margin-top:4rem">
        <p class="font-century-gothic bold">LOVE <em style="font-weight:200">yourself</em> MORE</p>
    </div>
      
  </div>

  <div class="bg-color-black color-white">

    <div class="row" style="padding-top:1rem">
    
      <div class="small-6 medium-2 column">
        <p class="footer-title">Membership.</p>
        <p class="footer-item">My Account</p>
        <p class="footer-item">Wish Box</p>
        <p class="footer-item">Shopping Bag</p>
      </div>
      
      <div class="small-6 medium-2 column">
        <p class="footer-title">FAQ.</p>
        <p class="footer-item">Customer Service</p>
        <p class="footer-item">Shipping Information</p>
        <p class="footer-item">Returns & Exchanges</p>
      </div>
      
      <div class="hide-for-small-only medium-4 column">
        <p class="text-center color-orange" style="margin-top:70px;margin-bottom:50px">
          <span class="text-center italic">Pay Pal</span>
          <span style="width:30px;display:inline-block"></span>
          <span class="text-center italic">Credit Card</span>
        </p>
      </div>
      
      <div class="small-6 medium-2 column">
        <p class="footer-title">Who we are.</p>
        <p class="footer-item">Belief</p>
        <p class="footer-item">Careers</p>
        <p class="footer-item">Contact Us</p>
      </div>
      
      <div class="small-6 medium-2 column end">
        <p class="footer-title">Find us on.</p>
        <p class="footer-item">Twitter</p>
        <p class="footer-item">Instagram</p>
        <p class="footer-item">Facebook</p>
      </div>
      
    </div>
    
    <div class="show-for-small-only" style="padding-top:100px;padding-bottom:50px">
      <p class="text-center color-orange">
        <span class="text-center italic">Pay Pal</span>
        <span style="width:30px;display:inline-block"></span>
        <span class="text-center italic">Credit Card</span>
      </p>
    </div>
    
  </div>

</body>
</html>
