
<!DOCTYPE html>
<html>
<head>

  <title>SmuSmy</title>
<%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">

  <div id="banner">
    <%=link_to image_tag("logo.png"), store_path %>
 
  </div> <!-- END BANNER_tag -->

  <div id="columns">
    <div id="side">
      <!-- START:hidden_div -->
      <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
        <%= render @cart %>
      <% end %>
      <% end %>
    <!-- END:hidden_div -->
      
      <ul>
        <li><a href="/bracelets">Bracelets</a></li>
        <li><a href="/hair">Hair</a></li>
        <li><a href="/Rings">Rings</a></li>
        <li><a href="/Necklaces">Necklaces</a></li>
      </ul>
    </div> <!-- END SIDE_tag -->
    <div id="main">

      <%= yield %>

    </div> <!-- END MAIN_tag -->
  </div> <!-- END COLUMNS_tag -->

</body>
</html>
